*{
    margin: 0;
    padding: 0;
    
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #616161;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
  }









#body-cover{
    position: absolute;
    width: 100%;
    overflow: hidden;
}
#homeslide1{
    background-color:rgb(73, 73, 73) ;
    height: 100vh;
    padding-right: 30px;
    
   
    
    
}
#homeslide1 h1{
    padding-top: 100px;
    color: white;
    width: 100%;
    font-size: 120px;
    margin-right: 40px;
    text-align: right;

    
}
.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 9999;
    display: flex;
    
}
.layer{
    background-color:rgb(0, 0, 0);

}
.layer-1{
    
    flex: 1;
   
}
.layer-2{
    flex: 1;
}
.layer-3{
    flex: 1;
    
}


/*homeslide2*/
#slides{
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
   
    
}
#homeslide2 div{
    background-color:rgb(26, 26, 26) ;
    height: 100vh;
    width: 100%;
   
    transform: translate(100vw,-100vh);
 
   
    

    
    
}


#homeslide2 h1{
    color:rgb(255, 255, 255);
    position: relative;
    transform: translateY(-240vh);
    font-size: 120px;
    opacity: 0;
    padding: 40px;

    
   
}








#home{
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: black;
    transform: translateY(-100vh);
    

}
#homeslide3{
    height: 100vh;
    background-color:black;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    
   
}
#home img{
    position: absolute;
    z-index: 2;
   
}
#me{
    z-index: 8;
    background: transparent;
    height: 120vh;
    bottom: 0px;
    opacity: 0;
    z-index: 3 !important;
}
#background{
    height: 100vh;
    margin-left:30%;
    filter: brightness(0.6);
    
}
#heyyou span{
    opacity: 0;
}
#home h1{
    position: relative;
    color: white;
    text-align: right;
    font-weight: bolder;
    font-size: 10vw;
    margin-right: 20px;
    z-index: 12;
    transform: translateY(5vh);
    font-family:Arial, Helvetica, sans-serif !important;
    
   

}
#anand{
    transform: translateY(0px);
}
#artist span{
    animation: coloran 2s infinite ease-in-out;
    font-family:Arial, Helvetica, sans-serif !important;
}
@keyframes coloran{
    0%{
        color: white;
    }
    50%{
        color: red;
    }
    100%{
        color: white;
    }
}
#home h1:nth-child(5){
    font-size: 50px;
}
#hireme{
    position: relative;
    text-align: right;
    margin-top: 50px;
    z-index: 12;
    transform: translateY(10vh);
   
   
}
#hireme a{
    
    font-size:40px;
    color: rgb(0, 0, 0);
    margin-right: 20px;
    background-color: rgb(170, 170, 170);
    text-decoration: none;
    padding: 10px 35px;
    position: relative;
    z-index: 10;
    transition: background-color .4s ease-in-out;
}
#hireme a:hover{
    background-color:rgb(255, 255, 255);
    
}








/*---navbar----*/
#navbar{

    position:fixed;
    z-index: 3333;
    margin-left: 0px;
    bottom:0;
    right: 0;
    height: 80px;
    overflow: hidden;
    opacity: 0;
   transition: transform .3s ease-in-out;
   
   
}

#navbar img{
height: 35px;

padding: 25px;
transform: translateY(0);
transition: transform 2s ease-in-out;
background-color: rgb(105, 105, 105);

}

#navbar ul li{
    display: inline-block;
    
}
#navbar ul{
    display: flex;
    
}
#navbar h1{
    position: absolute;
    background-color: rgb(173, 173, 173);
    height: 80px;
    width: 85px;
    font-size: 15px;
    color: black;
    
    text-align: center;
    padding-top: 35px;
 
    
    

}
@media (max-width:600px){
    #navbar{
      height: 50px;
      left: 0;

      
    }
    #navbar img{
        height: 20px;
        padding: 15px;
        opacity: 1;
    }
    #navbar h1{
        height: 50px;
        width: 50px;
        font-size: 10px;
        padding-top: 23px;

    }












    #homeslide1 h1,#homeslide2 h1{
      
        font-size: 50px;
        line-height: 12vh;
      
       
    }
    #homeslide1 h1{
       
        padding-top: 100px;
    }
    #home h1{
        font-size: 50px;
        padding-bottom:12px ;
    }
    #home h1:nth-child(5){
        font-size: 22px;
    }
    #me{
        width: 120%;
        height: auto;
        margin-left: -20%;
    }
    #hireme{
       margin-top: 0px;
       
      
        position: relative;
        bottom: -32vh;
        right: 0;
     
    }
    #hireme a{
    
        font-size:30px;
        background-color: rgba(223, 223, 223, 0.466);
        border: white 1px solid;
       
    }
    #background{
        margin-left: 0vw;
      
    
        
        
    }

}
















#about1{
    height: 100vh;
    width: 100%;
    background-color: black;
    
    
}
#about{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns:100px 1fr;
    
    
    
}
#about-grid-1{
    width: 100%;
    height: 100vh;
    background-color: white;
    display:grid;
    align-items: space-between;
    justify-content: center;
   text-align: center;
   font-size: 70px;

}
#about-grid-1 h1{
    opacity: 0;
    
}
@keyframes aboutan{
    from{
        color: white;
        margin-left: 30vw;
        
    }
}
#about-grid-2{
    
    color: rgb(112, 112, 112);
    padding: 30px;
    text-align: right;
    font-size: 2.5vw;
    transform: translateY(20vh);
    opacity: 0;
    
}

#about-grid-2 p{
    padding-top: 30px;
    padding-left: 30px;
}
#about-grid-2 p span:nth-child(1){
    font-size: 3.3vw;
   line-height: 110px;
   color: rgb(167, 167, 167);
}
#about-grid-2 p span:nth-child(4){
    font-size: 2.8vw;
   line-height: 110px;
   color: rgb(197, 197, 197);
}
@media (max-width:600px){
    #about{
        
        grid-template-columns:50px 1fr;
        
        
        
    }
    #about-grid-2{
        font-size: 16px;
        
    }
    #about-grid-2 p{
        padding-top: 30px;
        padding-left: 0px;
        
    }
    #about-grid-2 p span:nth-child(1){
        font-size: 20px ;
       line-height: 6vh;
      
     
      
    }
    #about-grid-2 p span:nth-child(4){
        font-size: 20px;
       line-height: 6vh;
       
    }
    #about-grid-1{
      
       font-size: 30px;
    
    }
    @media (min-height:680px){
        #about-grid-2{
            font-size: 20px;
            
        }
        #about-grid-2 p{
            padding-top: 30px;
            padding-left: 0px;
            
        }
        #about-grid-2 p span:nth-child(1){
            font-size: 30px ;
           line-height: 6vh;
          
         
          
        }
        #about-grid-2 p span:nth-child(4){
            font-size: 20px;
           line-height: 6vh;
           
        }
        #about-grid-1{
          
           font-size: 30px;


    }
    
    }

}


/*works*/

#works{
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(400px,1fr));
    justify-content: center;
   position: relative;
   z-index: 2;
   background-color: rgb(0, 0, 0);
  
   
   

}
#works div{
    overflow: hidden;
    background-color: black;
    




}
#works div img{

    width: 100%;
    
    transition: transform .3s ease-in-out;
}
#works div img:hover{
    transform: scale(1.02,1.02);
}
#works-cover{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.616);
    height: 100%;
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: grid;
    z-index: 0;
    
    
    
    top: 0;
}

@keyframes worksan{
    0%{
        opacity: 0;
        z-index: 3;
    }
    50%{
        opacity: 1;
        z-index: 3;
    }
   
    100%{
        opacity: 0;
        z-index: 3;
    }
   
}



#works-cover h1{
    color: white;
    font-size: 170px;
    text-align: center;
    
}
@media (max-width:600px){

    #works-cover h1{
        font-size: 60px;
    }
    #works div{
        

        margin-right:50px;
        margin-left:50px;
        margin-top:50px;
    }

}





/*----priceplans----*/
#priceplans{
    background-color: black;
    color: white;
   
    animation: priceplan 2s infinite;
    min-height: 100vh;
    width: 100%;
}
#priceplanshead{
    text-align: center;
    padding-top: 30px;
    font-size: 60px;
    letter-spacing: 13px;
    opacity: 0;


}
@media (max-width:600px){
    #priceplanshead{
        text-align: center;
        padding-top: 30px;
        font-size: 40px;
        letter-spacing: 13px;
        opacity: 0;
    
    
    }
}
@keyframes priceplansheadan{
    from{
        letter-spacing: 50px;
        opacity: 0;
    }
}





#underline{
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height: 5px;
    background-color: white;
    opacity: 0;
}
@keyframes underline{
    from{
        width: 0%;
    }
}
#priceplans-grid{
    width: 100%;
    min-height: 80vh;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,.5fr));
  
    position: relative;
    justify-content: center;

    grid-row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.grid-div{
    display: grid;
    justify-content: center;
    align-items: center;
}



/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {

    background-color: transparent;
    width: 300px;
    height: 400px;
    border: .1px solid #4b4b4b;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front,
  .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #303030;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: #525252;
    color: white;
    transform: rotateY(180deg);
    display:grid;
    justify-content: center;
    align-items: center;
  }
  .flip-box-back p{
      font-size: 20px;
      line-height: 40px;
  }
  .flip-box-front h1{
      position: absolute;
     width: 100%;
     height: 100%;
     font-size: 30px;
     top: 0;
     display: flex;
     justify-content: center;
    align-items: center;
     
      color: rgba(255, 255, 255, 0.479);

  }



  /*---contact---*/
  #contact{
      height: 100vh;
      position: relative;
      width: 100vw;
      overflow: hidden;
      background-color:transparent;
      background-image:linear-gradient(rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.342)),url(../images/EPbckp-min.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  }
  #contact-grid-1{
      width: 100%;
     padding: 50px;


  }
  #contact-grid-1 div{
      margin: 15px;
  }
  #contact-grid-1 form{
    display: grid;
    justify-content: left;

}
#submit{
    width: 60px !important;
    color: rgb(0, 0, 0);
    background-color: white !important;
    
}
  #contact-grid-1 input,#contact-grid-1 textarea{
      background-color: rgba(5, 3, 3, 0.404);
      border: none !important;
      padding: 5px;
      border-radius: 6px;
      transition: background-color .3s ease-in-out;
      color: rgb(219, 219, 219);
     
  }
  #contact-grid-1 input:focus,#contact-grid-1 textarea:focus{
      border: none;
      outline: none;
  }
  #contact-grid-1 input:hover,#contact-grid-1 textarea:hover{

      background-color: rgb(136, 136, 136);
  }
  #contact-grid-2 svg{
    padding-top: 30px;
    height: 80vh;
  }
  path{
    stroke-dasharray: 3000px;
    opacity: 0;
        animation: animate 10s infinite; 
        
        
           

        }
        @keyframes animate {
            0%{
                stroke-dashoffset: 3000px;
                opacity: 1;

            }
            90%{
                stroke-dashoffset: 0px;
                opacity: .6;
            }
            100%{
                stroke-dashoffset: 0px;
                opacity: 0;
            }
            
        }
    
   
        #contact-grid-1 p{
            color: rgb(143, 143, 143);
            margin-top: 10vh;
            margin-left: 15;
        }
        #contact-icons img{
            height: 30px;
        }


        @media (max-width:600px){
            #contact-grid-1{
                position: absolute;
            }
        }
    